Q1. What are data structures, and why are they important?
  - Data structures are specialized formats to store and organize data in a computer. They are important because they enable efficient data access, manipulation, and improve the performance of algorithms.

Q2. Explain the difference between mutable and immutable data types with examples?
 - Mutable Data Types:These can be changed after creation.
 Examples: list, dict, set.
 Immutable Data Types:These cannot be changed after creation.
 Examples: int, float, str, tuple.

Q3. What are the main differences between lists and tuples in Python?
 - Lists are mutable and use square brackets [].

     Tuples are immutable and use parentheses ().

Q4.  Describe how dictionaries store data?
  - Dictionaries store data as key-value pairs using curly braces {}. Each key maps to a specific value, and keys must be unique.

Q5.  Why might you use a set instead of a list in Python?
 - You might use a set instead of a list in Python because:
Sets automatically remove duplicate elements, ensuring all items are unique.
Set operations (like union, intersection, and membership tests) are faster due to underlying hash-based implementation.
 So, sets are ideal when uniqueness and fast lookup are needed.

Q6.  What is a string in Python, and how is it different from a list?
 - A string in Python is a sequence of characters enclosed in single (''), double (""), or triple quotes (''' or """).

 A string stores characters, while a list can store any data types (numbers, strings, etc.).Strings are immutable (cannot be changed after creation), but lists are mutable (elements can be modified).

Q7. How do tuples ensure data integrity in Python?
 - Tuples are immutable, meaning their values cannot be changed after creation.
This prevents accidental modification, helping to maintain data integrity.

Q8. What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that stores data in key-value pairs using a hash function to determine the index.

 In Python, a dictionary is implemented using a hash table for fast key-based access.

Q9. Can lists contain different data types in Python?
 - Yes, lists can contain different data types like integers, strings, floats, or even other lists in a single list.

Q10. Explain why strings are immutable in Python?
 - Strings are immutable to ensure data safety and allow faster performance through memory optimization and hashing.

Q12. Describe a scenario where using a tuple would be preferable over a list?
 - Tuples are preferred when passing data as constants, such as function parameters or keys in a dictionary, since they are hashable and cannot be changed.

Q13. How do sets handle duplicate values in Python?
 - Sets in Python automatically remove duplicate values. When duplicate elements are added, only one copy is kept.

Q14. How does the “in” keyword work differently for lists and dictionaries?
  - In lists, "in" checks if a value exists in the list. In dictionaries, "in" checks if a key exists, not the value.

Q15.Can you modify the elements of a tuple? Explain why or why not.
 - No, you cannot modify elements of a tuple because tuples are immutable in Python. Once created, their values cannot be changed, which helps protect data from accidental changes.

Q16.What is a nested dictionary, and give an example of its use case?
  - A nested dictionary is a dictionary inside another dictionary. It's used to organize complex data in a structured way.
  
  EXAMPLE:
   
        students =  {
    
            "101": {"name": "Amit", "age": 20},
    
            "102": {"name": "Sara", "age": 22}
        }

Q17. Describe the time complexity of accessing elements in a dictionary.
  - Accessing elements in a dictionary has an average time complexity of O(1) because it uses a hash table internally. This means access is very fast, regardless of the dictionary’s size.

Q18.In what situations are lists preferred over dictionaries?
  - Lists are preferred when you need an ordered collection with indexed access and no key-value pairs.

Q19.Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionaries do not maintain the order of items (before Python 3.7), so elements are stored based on their hash values, not insertion order.

 This means you cannot rely on the order when retrieving items, but you can access values directly by keys quickly.

Q20. Explain the difference between a list and a dictionary in terms of data    retrieval.
- Lists retrieve data by index position, which can be slower for large lists.
Dictionaries retrieve data by keys using hashing, making lookup faster and more efficient.

Data Types and Structures practical Answer:

Q1.Write a code to create a string with your name and print it.

In [ ]:
name = "Soham Pal"
print(name)

Q2. Write a code to find the length of the string "Hello World".

In [ ]:
text = "Hello World"
length = len(text)
print(length)

Q3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
text = "Python Programming"
first_three = text[:3]
print(first_three)

Q4. Write a code to convert the string "hello" to uppercase.

In [ ]:
text = "hello"
upper_text = text.upper()
print(upper_text)

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

Q6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
second_element

Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
t = (100, 200, 300)
print(t)

Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
t = (10, 20, 5, 15)
print(min(t))

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
t = ('dog', 'cat', 'rabbit')
print(t.index('cat'))

Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ("apple", "banana", "kiwi")
print("kiwi" in fruits)

Q16. . Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s = {'a', 'b', 'c'}
print(s)

Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
person = {"name": "Soham", "age": 20, "city": "Kolkata"}
print(person)

Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [ ]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 7, 'b': 8}

print(my_list)
print(my_tuple)
print(my_dict)

Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [ ]:
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

Q28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
strings = ["apple", "banana", "cherry", "date", "fig"]
print(strings[3])

Q29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

Q30. Write a code to convert a list of strings into a set.

In [ ]:
string_list = ["apple", "bAnana", "apple", "cherry"]
string_set = set(string_list)
print(string_set)